html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: hsl(10, 10%, 95%);
    line-height: 1.5;
}

#title{
    font-family: 'Karla', sans-serif;
    text-align: center;
}

#main{
    border-radius: 10px;
    max-width: 1000px;
    padding: 10px;
}

#img-div{
    display: block;
    margin: auto;
    background-color: hsl(10, 100%, 100%);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 10px;
}

#image{
    max-width: 100%;
    margin: auto;
}

#img-caption{
    padding: 5px 0 20px 0;
}

#tribute-info{
    display: block;
    margin: auto;
    max-width: 600px;
    padding: 10px;
}

#tribute-info h2{
    text-align: center;
    font-family: 'Karla', sans-serif;
}

#tribute-info p{
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}